<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <form>
      <h3 class="text-center">Question {{ questionId }} of 7 </h3>

      <div class="form-group">
        <h2>Question:</h2>
      </div>
      <div><p>{{ question.question }}</p></div>
      <div>
        <div *ngFor="let c of question.choices" class="form-group">
          <input type="radio" value="" id="" />
        </div>
      </div>
      <div class="col-md-6 col-md-offset-2">
        <button id="Next" class="btn btn-md btn-success" (click)="loadQuestion()">Next</button>
      </div>
    </form>
  </div>
</div>
